<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwriting Canvas</title>
    <style>

        body{
            background-color: #85756E;
            display: flex;
            justify-content: center;
            align-items: center;}

       
        /* #text{
            width: 1000px;
            height: 400px;
            border: 1px solid #ccc;
            resize: none;
            padding: 10px;
            box-sizing: border-box;
            
        } */
    </style>
</head>
<body>
    <div style = "display: flex; justify-content: center; align-items: center; height: 450; width: 850; background-color: white;">
        <canvas id="canvas" width="800px" height="400px" style="background-color: white; "></canvas>
    </div>

<textarea id = "myTextArea" > </textarea>

<script src="/canvas.js"></script>
</body>
</html>