<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Successful Account Creation</title>
  <style>
    body {
      font-family: sans-serif;
      color: #85756e;
    }

    .main-header {
      color: #85756e;
    }

    p {
      color: #85757e;
    }

    .login {
      color: #85757e;
    }
  </style>
</head>
<body>
<h1 class="main-header">Your account has successfully been created/updated!</h1>
<p>Please enter your credentials in the <a href="/login" class="login">login</a> page</p>
</body>
</html>